* {
	font-family: "Fira Code", monospace;
	--carolina-blue2: #13294b;
	--carolina-blue: #4b9cd3ff;
	--dark-slate-gray: #2a4747ff;
	--gunmetal: #022b3aff;
	color: white;
}

body {
	background-image: url(../../components/assets/techbanner3a.jpg);
	background-size: cover;
}

.navbar {
	padding: 1%;
}

.main {
	padding: 2%;
	background-color: var(--carolina-blue);
}

.main h3 {
	color: var(--carolina-blue2);
}

.navbar-brand {
	font-size: xx-large;
	color: white;
}

.nav-item {
	font-size: x-large;
}

.nav-link {
	color: white;
	font-weight: normal;
}

.nav-link.active {
	color: var(--carolina-blue2);
	font-weight: bold;
}

footer {
	padding: 1%;
	text-align: center;
	background-color: rgb(255, 255, 255, .5);
}

footer span {
	color: var(--carolina-blue2);
	font-weight: 600;
}

.icon {
	padding: 1px;
	margin: 2px;
}

.contact {
	padding: auto 3%;
}

.formSubmit {
	background-color: var(--carolina-blue2);
}

.resumeLinkContainer {
	display: block;
	text-align: center;
}

.resumeLink {
	text-decoration: underline;
	color: white;
	font-size: x-large;
}

.project {
	position: relative;
	margin: 1%;
	text-align: center;
}

.project:hover .project-bg {
	opacity: 0.3;
}

.project:hover .project-text {
	opacity: 1;
}

.project-bg {
	width: 100%;
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-text {
	position: absolute;
	padding: 1%;
	width: 95%;
	transition: 0.5s ease;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: var(--carolina-blue2);
	border-radius: 15px;
}

.project-text a {
	text-decoration: underline;
	color: white;
	font-size: larger;
}
