* {
	font-family: "Fira Code", monospace;
	--carolina-blue2: #00070c;
	--carolina-blue: #4b9cd3ff;
	--dark-slate-gray: #2a4747ff;
	--gunmetal: #022b3aff;
	color: white;
}

body {
	background-image: url(../../components/assets/techbanner3a.jpg);
}

.navbar {
	padding: 1%;
}

.main {
	padding: 1%;
	background-color: var(--carolina-blue);
	max-width: 90%;
	margin: 0 auto;
}

.main h3 {
	color: var(--carolina-blue2);
}

.navbar-brand {
	font-size: xx-large;
	color: white;
}

.nav-item {
	font-size: x-large;
}

.nav-link {
	color: white;
	font-weight: normal;
}

.nav-link.active {
	color: var(--carolina-blue2);
	font-weight: bold;
}

footer {
	padding: 1%;
	text-align: center;
}

.icon {
	padding: 1px;
	margin: 2px;
}

.contact {
	padding: auto 3%;
}

.formSubmit {
	background-color: var(--carolina-blue2);
}

.resumeLinkContainer {
	display: block;
	text-align: center;
}

.resumeLink {
	text-decoration: underline;
	color: white;
	font-size: x-large;
}

.project {
	position: relative;
	width: 100%;
	height: 300px;
	margin: 1%;
	max-width: 500px;
}

.project-bg {
	position: relative;
	width: 100%;
	height: 100%;
}

.project-text {
	color: var(--secondary);
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 50px;
	z-index: 900;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.project-text:hover {
	background-color: var(--alpha);
	opacity: 1;
	border: 10px solid var(--secondary);
}

/* @media only screen and (max-width: 1300px) {
	nav {
		position: static;
		display: block;
		z-index: 100;
		margin: 0 10px;
		font-size: 2rem;
	}
	header h1 {
		display: block;
		height: 30px;
	}
}
@media only screen and (max-width: 900px) {
	nav {
		position: static;
		display: block;
		z-index: 100;
		margin: 0 10px;
		font-size: 1.3rem;
	}
	header h1 {
		display: block;
		margin: 5px 10px;
		height: 15px;
		width: 100%;
		text-align: center;
		font-size: 2.3rem;
	}
} */
